body{
    margin: 0;
    background-color: hsl(233, 47%, 7%);
    color: white;
    font-family: "Inter";
    font-size: 15px;
}
main{
    padding: 1.5em;
}
article{
    overflow: hidden;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
article img{
    max-width: 100%;
}
article section{
    padding: 1.5rem;
    text-align: center;
}
article section h1{
    font-size: 1.75rem;
    margin: 0;
}
article section h1 span{
    color: hsl(277, 64%, 61%);
}
section > p{
    color: hsla(0, 0%, 100%, 0.75);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }