body{
    margin: 0;
    background-color: hsl(233, 47%, 7%);
    color: white;
    font-family: "Inter";
    font-size: 15px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }